---
import BaseLayout from "@/layouts/Layout.astro";
---
<BaseLayout>
    <section class="wrapper h-screen">
        <h1>About Page</h1>
        <a href="posts/about">Go</a>
    </section>
</BaseLayout>
