---
import Header from "@/components/Header.astro";
import BaseLayout from "@/layouts/Layout.astro";
---
<BaseLayout>
    <section class="wrapper h-screen">
        <h1>Photos Page</h1>
    </section>
</BaseLayout>
