---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { Site } from "@/site.config";
import('@/styles/global.css')

const { title = Site.meta.title } = Astro.props;
---

<html lang={Site.meta.lang} class="no-scrollbar">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="generator" content={Astro.generator}>
    <meta name="description" content={Site.meta.description}/>
    <title>{`Chrisy - ${title}`}</title>
    <link rel="icon" href="/favicon.ico" type="image/icon">
</head>
<body class="bg-primary-light dark:bg-primary-dark">
<Header/>
<main>
    <slot/>
</main>
<Footer/>
</body>
</html>
